<launch>
    <arg name="model_file_name" default="original_model" />
    <arg name="model_path" default="$(find tezim)/sim/models/$(arg model_file_name)/$(arg model_file_name).sdf" />
    <arg name="pointcloud_topics" default="[/camera/depth/points]"/>
    <arg name="camera_frame_id" default="camera_link"/>
    <arg name="x" default="5.0" />
    <arg name="y" default="5.0" />
    <arg name="z" default="2.0" />

    <node name="sdf_spawn" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-file $(arg model_path) -sdf -x $(arg x) -y $(arg y) -z $(arg z) -model $(arg model_file_name)" />
</launch>
